@font-face {
  font-display: swap;
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NanumGothic-Bold.ttf");
}

body {
  font-family: "Nanum Gothic", cursive;
}
p {
  font-family: "Nanum Gothic", cursive;
}

.logo-no-style {
  text-decoration: none;
}
